<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_easyfood"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_easyfood_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyFood"
        tools:targetApi="31">
        <activity
            android:name=".views.perfilscreenview.PerfilScreenActivity"
            android:exported="false" />
        <activity
            android:name=".views.carritoscreenview.CarritoScreenActivity"
            android:exported="false" />
        <activity
            android:name=".views.buscarscreenview.BuscarScreenActivity"
            android:exported="false" />
        <activity
            android:name=".views.homescreenview.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".views.splashscreenview.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>